@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 5px;
  background-color: #0F172A;
}

body::-webkit-scrollbar-thumb {
  /* display: none; */
  width: 2px;
  height: 5px;
  border-radius: 5%;
  background-color: gold;
}

.bg-btnDark{
  @apply bg-yellow-700 text-yellow-300 shadow-yellow-800
}
